<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/platser/tabs/erbjudanden"
      ></ion-back-button>
    </ion-buttons>

    <ion-title>{{plats?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button
    class="ion-margin"
    color="primary"
    [routerLink]="[
  '/',
  'platser',
  'tabs',
  'erbjudanden',
  'edit',
  plats?.id
 ]"
    >Edit</ion-button
  > -->
</ion-content>
