<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Upptäck platser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12" size-sm="8" offset-sm="2">
        <!-- <ion-card>
          <ion-card-header>
            <ion-card-title>{{loaddePlaces[0].title}} </ion-card-title>
            <ion-card-subtitle
              >{{loaddePlaces[0].price|currency}}/night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="loaddePlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{loaddePlaces[0].description}}</p>
          </ion-card-content>
        </ion-card> -->
        <ion-list>
          <ion-item *ngFor="let plats of loaddePlaces">
            <ion-thumbnail>
              <img [src]="plats.imageUrl" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{plats.title}}</h2>
              <p>{{plats.description}}</p>
              <p>{{plats.price|currency}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
